<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Resultado</title>
</head>
<body>
    <h1>Resultados</h1>
    <p>Resultado da Soma entre {{x}} e {{y}} é {{resultados['soma']}}</p>
    <p>Resultado da subtração entre {{x}} e {{y}} é {{resultados['sub']}}</p>
    <p>Resultado da multiplicação entre {{x}} e {{y}} é {{resultados['multi']}}</p>
    <p>Resultado da divisão inteira entre {{x}} e {{y}} é {{resultados['div']}}</p>
    <p>Resultado da divisão fracionada entre {{x}} e {{y}} é {{resultados['div_fra']}}</p>
    <p>Resultado da resto da divisao entre {{x}} e {{y}} é {{resultados['rest_div']}}</p>
    <p>Resultado da raiz entre {{x}} e {{y}} é {{resultados['raiz']}}</p>

    <br>
    <a href = "/">Voltar para a Página Inicial</a>
</body>
</html>