<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pessoas</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Sobrenome</th>
                <th>Idade</th>
                <th>Endereco_ID</th>
            </tr>
        </thead>
        <tbody>
            {% for p in lista2 %}
            <tr>
                <td>{{p.ID}}</td>
                <td>{{p.Nome}}</td>
                <td>{{p.Sobrenome}}</td>
                <td>{{p.Idade}}</td>
                <td>{{p.Endereco_ID}}</td>
            </tr>
            {% endfor %}
            <tr>
                <th>ID</th>
                <th>Logradouro</th>
                <th>Numero</th>
                <th>Complemento</th>
                <th>Bairro</th>
                <th>Cidade</th>
            </tr>
        </thead>
        <tbody>
            {% for e in lista %}
            <tr>
                <td>{{ e.ID}}</td>
                <td>{{ e.Logradouro}}</td>
                <td>{{ e.Numero}}</td>
                <td>{{ e.Complemento}}</td>
                <td>{{ e.Bairro}}</td>
                <td>{{ e.Cidade}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>