<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pessoas</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Sobrenome</th>
                <th>Idade</th>
                <th>Endereco Id</th>
            </tr>
        </thead>
        <tbody>
            {% for p in lista %}
            <tr>
                <td>{{ p.ID}}</td>
                <td>{{ p.Nome}}</td>
                <td>{{ p.Sobrenome}}</td>
                <td>{{ p.Idade}}</td>
                <td>{{ p.Endereco_ID}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>